:root {
	--main-color: #121212;
	--white-color: #FFFFFF;
	--bright-color-100: #f3f3f3;
	--bright-color: #E7E9EC;
	--gray-color: #9D9D9D;
	--ff-primary: Open Sans, sans-serif;
	--ff-accent: Poppins, sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: var(--ff-accent);
	}

p {
	font-family: var(--ff-primary);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bright-color);
}

a:link {
	color: var(--main-color);
	text-decoration: none;
}

a:visited {
	color: var(--main-color);
}

@media (max-width: 37.5em) {

	.navbar {
		width: auto;
		height: 90px;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr 2fr 1fr 70px;
		align-content: center;
		background-color: var(--main-color);
		margin-right: auto;
		margin-left: auto;
	}


	#container {
		width: min(90%, 70.5rem);
		height: 400px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 36px;
		margin-top: 15px;
		margin-bottom: 30px;
		margin-right: auto;
		margin-left: auto;
		background-color: rgb(53, 96, 161);
	}

	.cover {
		width: 80vw;
		height: 100%;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);	
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
		filter: brightness(1);
		outline: 0;
	/*	transition-property: filter;
		transition-duration: 2s; */
	}
	
	.cover:hover {
		outline: 2px solid #DCDCDC;
	/*	filter: brightness(0.8); */
	}

}


@media (max-width: 75em) {

}

/* **************** NAVIGATION **************** */

.navbar {
	width: auto;
	max-width: 1048px;
	height: 90px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 2fr 1fr 70px;
	align-content: center;
	background-color: var(--main-color);
	margin: 0 auto;
}

.navbar > * {
	align-self: center;
}

.navbar::before {
	content: "";
	height: 90px;
	width: 100%;
	background-color: var(--main-color);
	left: 0;
	position: absolute;
	z-index: -1;
}

.navbar-links ul {
	display: flex;
 	justify-content: center;
	align-self: center;
}

.navbar-links li {
	list-style: none;
	display: block;
	line-height: 2.5em;
}

.navbar-links li a {
	padding: 0 20px;
	height: 40px;
	color: var(--gray-color);
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	align-items: center;
	align-content: center;
   	border-right: 1px solid #797979;
}

.navbar-links li a:hover {
	color: var(--white-color);
}


.toggle-button {
	display: none;
}

/*
[aria-current="page"] {
	color: var(--white-color);
}*/





#facebook {
	place-self: center;
	margin-top: 4px;
}

#facebook a {
   	border-right: 0;
}

#search {
	align-self: center;
	justify-self: end;
	display: flex;
 	justify-content: center;
	align-self: center;
	cursor: pointer;
}

#search-input {
	margin-right: 10px;
	height: 30px;
	width: 200px;
	justify-content: end;
	align-self: center;
	border: 0;
	visibility: hidden;
	animation: increase-input 1s ease-out backwards;
}

@keyframes increase-input {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 200px;
		opacity: 100%;
	}
}

#search:hover #search-input {
	background-color: var(--white-color);
	visibility: visible;
}

#moon, #sun {
	align-self: center;
	justify-self: center;
	padding-left: 15px;
	border-left: 1px solid #797979;
	cursor: pointer;
}

#moon {
	display: inline;
}

#sun {
	display: none;
}

#logo {
	width: 126px;
	height: 52px;
	margin-left: 15px;
}

.icon {
	width: 28px;
	height: 28px;
}

.icon:hover {
	filter: brightness(1.5);
}

.icon-moon, .icon-sun {
	margin-top: 5px;
}


@media (max-width: 55em) {

.navbar-links {
	display: none;
	width: 100%;
}

.navbar {
	flex-direction: column;
	align-items: flex-start;
	height: auto;
}

.navbar-links ul {
	margin-top: 4rem;
	width: 100%;
	flex-direction: column;
}

.navbar-links li {
	text-align: center;
}

.navbar-links li a {
	padding: .5rem 1rem;
}

.navbar-links.active {
	display: flex;
}

.toggle-button {
	position: absolute;
	top: 34.5px;
	right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: var(--bright-color);
	border-radius: 10px;
}

#search, #moon, #sun {
	display: none;
}

}

/* **************** CUSTOMIZE PANEL **************** */

#customize {
	width: 1048px;
	height: 60px;
	margin-top: 15px;
	display: grid;
	grid-template-columns: 40% 60%;
	align-content: center;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 55em) {

#customize {
	width: auto;
	margin-top: 58px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	margin-right: auto;
	margin-left: auto;
}

}



#sort {
	margin-left: 15px;
}

select {
    font-size: .9rem;
	padding-left: 10px;
	margin-left: 5px;
	background-color: #F5F5F5;
	border: 1px solid #CBCBCB;
    border-radius: 0 10px 10px 0;
    height: 34px;
	line-height: 1.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
    	linear-gradient(45deg, transparent 50%, gray 50%),
    	linear-gradient(135deg, gray 50%, transparent 50%),
    	linear-gradient(to right, #ccc, #ccc);
  	background-position:
    	calc(100% - 20px) calc(1em + 2px),
    	calc(100% - 15px) calc(1em + 2px),
    	calc(100% - 2.5em) 0.35em;
  	background-size:
    	5px 5px,
    	5px 5px,
    	1px 1.5em;
  	background-repeat: no-repeat;
}

select:focus {
	background-image:
    	linear-gradient(45deg, gray 50%, transparent 50%),
    	linear-gradient(135deg, transparent 50%, gray 50%),
    	linear-gradient(to right, #ccc, #ccc);
  	background-position:
    	calc(100% - 15px) 1em,
    	calc(100% - 20px) 1em,
    	calc(100% - 2.5em) 0.35em;
 	 background-size:
    	5px 5px,
    	5px 5px,
    	1px 1.5em;
 	background-repeat: no-repeat;
  	outline: 0;
}

#sort-input {
	width: 200px;
}

#filters {
	justify-self: end;
	margin-right: 15px;
}

#filters-input {
	width: 385px;
}

/* **************** MAIN CONTAINER **************** */

#container {
	max-width: 1048px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
	grid-column-gap: 18px;
	grid-row-gap: 36px;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--bright-color);
}

.cover {
	width: 237px;
	height: 318px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);	
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	filter: brightness(1);
	outline: 0;
/*	transition-property: filter;
	transition-duration: 2s; */
}

.cover:hover {
	outline: 2px solid #DCDCDC;
/*	filter: brightness(0.8); */
}

.new::before {
	content: "";
	top: 21px;
	left: -40px;
	padding: 10px 15px;
	position: relative;
	width: 0; 
  	height: 0; 
  	border-top: 10px solid transparent;
    border-right: 10px solid #235a62; 
}

.new::after {
	content: "NOWOŚĆ";
	font-size: 1.6rem;
	font-weight: bold;
	border-radius: 0 10px 10px 0;
	color: var(--white-color);
	background-color: #2D7A85;
	top: 30px;
	left: -50px;
	padding: 10px 15px 7px 15px;
	position: relative;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);	
}

.sold::after {
	content: "WYPRZEDANE";
	font-size: 1.6rem;
	font-weight: bold;
	color: #DCDCDC;
	background-color: #303030;
	width: 400px;
	padding: 10px 32.25px;
	margin: auto;
	position: relative;
	top: 50%;
	right: 0;
}

footer {
	width: auto;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: var(--white-color);
	background-color: var(--main-color);
	align-self: end;
}

/* **************** COMICS PAGE **************** */ 

#breadcrumbs {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 1.3rem;
	max-width: 62rem;
	height: 3rem;
	line-height: 3rem;
	margin: 2rem auto 0 auto;
	position: relative;
}

#breadcrumbs > * {
	background-color: var(--bright-color-100);
	border-radius: .7rem .7rem 0 0;
	padding: 0 1.6rem;
	text-align: center;
}

#breadcrumbs .title {
	font-weight: 500;
}

#container-page {
	max-width: 65.5rem;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

/*	grid-template-columns: 50% 50%;
	justify-content: space-between;
	grid-auto-flow: row; */
	margin: 0 auto 30px auto;
	background-color: var(--bright-color-100);
	border-radius: 10px;
	border: 17px solid var(--main-color);
	padding: 28px;
}

#container-covers {
	order: 1;
	height: 800px;
	width: 475px;
}

#container-info {
	display: grid;
	align-content: flex-start;
	gap: 15px;
	order: 2;
	width: auto;
	max-width: 475px;
}


/* SECTION PANELS */

#inside-panels {
	order: 4;
	display: grid;
	justify-items: center;
	place-self: center;
}

#inside-samples {
	font-size: 1.3rem;
	font-weight: 700;
	margin: 15px auto 10px auto;
}

#inside-samples::before {
	content: url(../img/icon-zoom-in.svg);
	margin-right: 6px;
}

#img-inside {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	cursor: pointer;
}

#fullpage-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: auto auto;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-color: var(--main-color);
	cursor: pointer;
  }

#img-inside-big {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;	
  }

 .arrows {
	top: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
	width: 10%;
	position: absolute;
	background-color: #303030;
	cursor: pointer;
	font-size: 10rem;
  }

 .arrows:hover {
	background-color: #181818;
}

 #left-arrow {
	left: 0;
  }

 #right-arrow {
	right: 0;
}




#description {
	order: 3;
	margin-bottom: 15px;
	line-height: 1.6rem;
	padding-inline: 60px;
/*	grid-column: 1 / -1; */
}


h1.title {
	font-size: 1.9rem;
	line-height: .6rem;
	margin-bottom: 30px;
}

#cover-big {
	width: 433px;
	height: 578px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

#cover-regular-thumbnail, #cover-alternative1-thumbnail, #cover-alternative2-thumbnail {
	width: 102px;
	height: 137px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	margin-right: 19px;
	cursor: pointer;
	display: none;
}

#choose-cover {
	margin-top: 5px;
	font-size: .9rem;
	font-weight: 700;
	color: #808080;
}

#title-section {
	text-align: center;
}

#main-info {
/*	background-color: green; */
}

.authors {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(2, 60px);
	justify-content: center;
	row-gap: 10px;
	line-height: 11px;
	vertical-align: middle;
	margin-bottom: 20px;
}

.details {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	line-height: 11px;
	vertical-align: middle;
	align-self: flex-start;
}

.details-original {
	display: grid;
	margin: 15px auto 0 auto;
	grid-template-columns: auto auto;
	justify-content: center;
	line-height: 11px;
	vertical-align: middle;
}

.details-original-headline {
	grid-column: 1 / span 2;
	line-height: 0;
	justify-self: center;
	font-size: 1.1rem;
	font-weight: 500;
	color: #808080;
}

.role {
	text-align: right;
	padding-right: 13px;
	position: relative;
}

.role::before {
	content: "";
	height: 90%;
	position: absolute;
	top: 12px;
	bottom: 12px;
	right: 0;
	border-right: 2px solid #797979;
}

.name {
	text-align: left;
	padding-left: 13px;
	font-weight: 500;
}

/*.details .role {
	border-left: 1px solid #797979;
	border-top: 1px solid #797979;
	border-bottom: 1px solid #797979;
	padding-left: 20px;
}

.details .name {
	border-right: 1px solid #797979;
	border-top: 1px solid #797979;
	border-bottom: 1px solid #797979;
	padding-right: 20px;
} */

.details .role {
	padding-left: 20px;
}

.details .name {
	padding-right: 20px;
}

.details .role, .details .name {
	background-color: #E7E9EC;
	border-radius: 10px;
}

.buy {
	width: 163px;
	height: 48px;
	background-color: #19A538;
	border-radius: 10px;
	border: 0;
	font-size: 1.3rem;
	color: var(--white-color);
	font-weight: 500;
/*	grid-column: 1 / span 2; */
	justify-self: center; 
	margin-top: 10px;
	cursor: pointer;
}

.buy::before {
	content: url(../img/icon-buy.svg);
	position: relative;
	top: 3px;
	right: 12px;
}

.buy-links {
	display: block;
	width: 163px;
	height: auto;
	list-style: none;
}

.buy-link {
	height: 40px;
}



#related-comics-section {
	margin-top: 70px;
	align-self: flex-start;
	width: auto;
	display: none;
	font-size: .9rem;
	font-weight: 700;
	color: #808080;
/*	background-color: purple; */
}

#related-comics {
	width: 148px;
	height: 198px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}









.inside-thumbnails {
	height: 290px;
}






.current-page {
	color: var(--white-color) !important;
}