/* **************** custom properties **************** */

:root {
	--main-color: #202020;
	--black-color: #121212;
	--white-color: #FFFFFF;
	--bright-color-100: #f3f3f3;
	--bright-color: #E7E9EC;
	--gray-color: #9D9D9D;
	
	--ff-primary: 'Poppins', sans-serif;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fs-300: ;
	--fs-400: .9rem;
	--fs-500: 1rem;
	--fs-600: 1.1rem;
	--fs-700: 1.2rem;
	--fs-800: 1.3rem;
	--fs-900: 1.9rem;
	--fs-xl: 10rem;
}

/* **************** global styles **************** */

*, *::before, *::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bright-color);
}

a:link {
	color: var(--main-color);
	text-decoration: none;
}

a:visited {
	color: var(--main-color);
}

:focus {
	outline: 1px solid var(--gray-color);
}

/* **************** dark mode **************** */

body.dark-mode {
	background-color: var(--main-color);
	color: #d7d7d7;
}

body.dark-mode a {
	color: var(--gray-color);
}

body.dark-mode .buy-link a {
	color: var(--white-color);
}

body.dark-mode #container {
	background-color: var(--main-color);
}

body.dark-mode .cover,
body.dark-mode #container-covers > img,
body.dark-mode .related-comics {
	box-shadow: none;
	filter: brightness(.9);
}

body.dark-mode #container-page {
	border: 17px solid var(--main-color);
	background-color: var(--main-color);
}

body.dark-mode .details,
body.dark-mode #breadcrumbs > * {
	background-color: #282828;
}

body.dark-mode #toggle-mode {
	content: url(../img/icon-sun.svg);
}

body.dark-mode #customize {
	color: #b7b7b7;
}

body.dark-mode #sort-input,
body.dark-mode #filters-input,
body.dark-mode #search-main-cover-input {
	background-color: #343434;
	color: #b7b7b7;
}

/* **************** NAVIGATION **************** */

header {
	width: 100%;
	height: 5.6rem;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
}

.navbar {
	width: min(1048px, 95%);
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 15% auto 15%;
	align-content: center;
	margin-inline: auto;
}

.navbar > * {
	align-self: center;
}

.navbar-links {
	display: flex;
 	justify-content: center;
	align-self: center;
}

.navbar-links li {
	list-style: none;
	display: block;
	line-height: 2.5em;
}

.navbar-links a {
	padding: 0 1.25rem;
	height: 40px;
	color: var(--gray-color);
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	align-items: center;
	align-content: center;
   	border-right: 1px solid #797979;
}

.navbar-links a:hover {
	color: var(--white-color);
}

.toggle-button {
	display: none;
}

#facebook {
	place-self: center;
	margin-top: 4px;
}

#facebook a {
   	border-right: 0;
}

#additions {
	display: flex;
	justify-content: flex-start;
	align-self: center;
	align-items: center;
	line-height: 2.5em;
	height: 40px;
	color: var(--gray-color);
}

#search-layout {
	position: absolute;
	display: none;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
	inset: 0;
	width: 100%;
	background-color: var(--main-color);
	z-index: 99;
	flex-wrap: wrap;
	animation: ease-down .25s ease-out backwards;
	overflow-y: scroll;
}

@keyframes ease-down {
	from {
		height: 0;
	}
	to {
		height: 100%;
	}
}

#search-options {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.2rem;
	margin-top: 5rem;
	width: 90%;
}

#search-input {
	height: 2rem;
	width: min(400px, 80%);
	justify-content: end;
	align-self: center;
	border: 0;
}

.search-phrase {
	color: var(--bright-color-100);
}

#search-output {
	width: min(800px, 90%);
	text-align: center;
	color: var(--gray-color);
	font-weight: 200;
}

#search-output a {
	color: var(--bright-color);
	font-weight: 600;
}

.result-element {
	border-bottom: solid 1px var(--gray-color);
}

#toggle-mode {
	content: url(../img/icon-moon.svg);
	width: 24px;
	margin-left: 20px;
	cursor: pointer;
}

#additions::before {
	content: "";
	position: relative;
	left: 3.7rem;
	height: 40px;
	width: 1.2rem;
	border-left: 1px solid #797979;
}

#logo {
	width: 126px;
	height: 52px;
	margin-left: 15px;
}

.icon {
	width: 24px;
	cursor: pointer;
}

.icon:hover, #toggle-mode:hover {
	filter: brightness(1.5);
}

#icon-zoom-in {
	margin-top: -.5rem;
}

#icon-zoom-in:hover {
	filter: none;
	cursor: none;
}

#icon-search {
	margin-right: 1rem;
}

#facebook .icon {
	margin-top: .25rem;
}

/* ****** CUSTOMIZE PANEL ******* */

#customize {
	width: min(64rem, 95%);
	margin-block-start: 1.3rem;
	margin-block-end: 1.5rem;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-content: center;
	margin-inline: auto;
}

#sort,
#filters,
#search-main-cover {
	display: grid;
	grid-template-columns: auto;
	column-gap: .7rem;
	line-height: 2.2rem;
}

/* text elements to the left of input or select */
#sort > :nth-child(odd),
#filters > :nth-child(odd),
#search-main-cover > :nth-child(odd) {
	text-align: center;
}

#sort-input,
#filters-input,
#search-main-cover-input {
	width: 11.5rem;
	height: 2rem;
    font-size: .9rem;
	background-color: #D7D7D7;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

#sort-input,
#filters-input {
	padding-left: .6rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
    	linear-gradient(45deg, transparent 50%, gray 50%),
    	linear-gradient(135deg, gray 50%, transparent 50%),
    	linear-gradient(to right, #ccc, #ccc);
  	background-position:
    	calc(100% - 20px) calc(1em + 2px),
    	calc(100% - 15px) calc(1em + 2px),
    	calc(100% - 2.5em) 0.35em;
  	background-size:
    	5px 5px,
    	5px 5px,
    	1px 1.5em;
  	background-repeat: no-repeat;
}

#sort-input:focus,
#filters-input:focus {

	background-image:
    	linear-gradient(45deg, gray 50%, transparent 50%),
    	linear-gradient(135deg, transparent 50%, gray 50%),
    	linear-gradient(to right, #ccc, #ccc);
  	background-position:
    	calc(100% - 15px) 1em,
    	calc(100% - 20px) 1em,
    	calc(100% - 2.5em) 0.35em;
}

/* **************** MAIN CONTAINER **************** */

#container {
	width: min(65.5rem, 95%);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.3rem, 1fr));
	grid-column-gap: 1.1rem;
	grid-row-gap: 3.1rem;
	justify-items: center;
	margin-inline: auto;
	margin-bottom: 4.5rem;
	background-color: var(--bright-color);
}

@media (min-width: 55rem) { /* 880 px */

	#sort,
	#filters,
	#search-main-cover {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: .7rem;
		line-height: 2.2rem;
	}

	#sort > :nth-child(odd),
	#filters > :nth-child(odd),
	#search-main-cover > :nth-child(odd) {
		text-align: right;
	}

	#customize {
		margin-block-start: 2rem;
	}
}

.cover {
	width: 237px;
	height: 318px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .4); 
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	filter: brightness(1);
	outline: 0;
}

.cover:hover {
	outline: 2px solid #DCDCDC;
}

.title-under-cover {
	width: 100%;
	display: block;
	left: auto;
	right: auto;
	position: absolute;
	bottom: 0;
	margin: auto;
	margin-bottom: -34px;
	text-align: center;
	font-weight: 500;
}

.new::after,
.sold::after,
.last-items::after {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(	--bright-color);
	display: block;
	position: relative;
	left: -.62rem;
	border-radius: 0 10px 10px 0;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);	
}

.new::after {
	content: "NOWOŚĆ";
	width: 7.8rem;
	top: 0;
	background-color: #2D7A85;
	padding: 10px 15px 7px 15px;	
}

.sold::after {
	content: "WYPRZEDANE";
	width: 10.2rem;
	top: 65%;
	background-color: #303030;
	padding: 10px 15px 10px 15px;	
}

.last-items::after { 
	content: "OSTATNIE SZTUKI";
	width: 12.3rem;
	top: 65%;
	background-color: #9b3838;
	padding: 10px 15px 10px 15px;
}

.new::before {
	content: "";
	top: 2.05rem;
	left: -2.5rem;
	padding: 10px 15px;
	position: relative;
  	border-top: 10px solid transparent;
    border-right: 10px solid #235a62; 
}

.sold::before,
.last-items::before {
	content: "";
	top: 15rem;
	left: -2.5rem;
	padding: 10px 15px;
	position: relative;
  	border-top: 10px solid transparent;
    border-right: 10px solid #235a62; 
}

.sold::before {
	border-right-color: #1b1b1b;
}

.last-items::before {
	border-right-color: #7e2828;
}

footer {
	width: auto;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: var(--gray-color);
	background-color: var(--main-color);
	align-self: end;
}

/* **************** COMICS PAGE **************** */ 

#breadcrumbs {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 1.3rem;
	max-width: 62rem;
	height: 3rem;
	line-height: 3rem;
	margin: 2rem auto 0 auto;
	position: relative;
}

#breadcrumbs > * {
	background-color: var(--bright-color-100);
	border-radius: .7rem .7rem 0 0;
	padding: 0 1.6rem;
	text-align: center;
}

#breadcrumbs .title {
	font-weight: 500;
}

#container-page {
	max-width: 65.5rem;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto 1.8rem auto;
	padding: 28px;
	background-color: var(--bright-color-100);
	border: 17px solid var(--main-color);
	border-radius: 10px;
}

#container-covers {
	order: 1;
	height: 800px;
}

#container-info {
	order: 2;
	width: auto;
	max-width: 475px;
	display: grid;
	align-content: flex-start;
	justify-items: center;
	gap: 15px;
}

#description {
	order: 3;
	margin-bottom: 15px;
	line-height: 1.6rem;
	padding-inline: 3.75rem;
}

/* SECTION PANELS */
#inside-panels {
	order: 4;
	display: grid;
	justify-items: center;
	place-self: center;
}

#inside-panels-headline {
	display: flex;
	gap: 1rem;
	align-items: center;
}

#inside-samples {
	font-size: 1.3rem;
	font-weight: 700;
	margin: 10px auto 20px auto;
}

/* #inside-samples::before {
	content: url(../img/icon-zoom-in.svg);
	position: absolute;
	margin-left: -2.3rem;
	display: block;
	width: 28px;
} */

#img-inside {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	cursor: pointer;
}

#fullpage-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	background-size: auto auto;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-color: var(--main-color);
	cursor: pointer;
  }

#close-gallery-area {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
  }

 .arrows {
	display: flex;
	align-items: center;
	height: 230px;
	width: 60px;
	position: absolute;
	background-color: #303030;
	cursor: pointer;
	font-size: 10rem;
  }

 .arrows:hover {
	background-color: #181818;
}

 #left-arrow {
	left: 0;
  }

 #right-arrow {
	right: 0;
}

h1.title {
	text-align: center;
	font-size: 1.9rem;
	line-height: 2.6rem;
	margin-block-start: .8rem;
	margin-block-end: .4rem;
}

#cover-big {
	width: 433px;
	height: 578px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

#cover-regular-thumbnail,
#cover-alternative1-thumbnail,
#cover-alternative2-thumbnail {
	width: 102px;
	height: 137px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	margin-right: 19px;
	cursor: pointer;
	display: none;
}

#choose-cover {
	margin-top: 5px;
	font-size: .9rem;
	font-weight: 700;
	color: #808080;
}

.comics-data {
	display: grid;
	grid-template-columns: auto auto;
	list-style: none;
	padding-inline-start: 0;
	line-height: 1.6rem;
}

.comics-data > :nth-child(odd) {
	text-align: right;
	padding-right: 10px;
	border-right: 2px solid #797979;
}

.comics-data > :nth-child(even) {
	text-align: left;
	padding-left: 10px;
	font-weight: 600;
}

.main-info {
	row-gap: 8px;
}

.main-info > :nth-child(even) {
	font-weight: 600;
}

.details {
	background-color: var(--bright-color);
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	margin-block-end: 0;
}

.details > :nth-child(even) {
	font-weight: 500;
}

.details-original-edition {
	row-gap: 4px;
}

.details-original-edition > :nth-child(even) {
	font-weight: 500;
}

.role {
	text-align: right;
	padding-right: 13px;
	position: relative;
}

.role::before {
	content: "";
	height: 90%;
	position: absolute;
	top: 12px;
	bottom: 12px;
	right: 0;
	border-right: 2px solid #797979;
}

.name {
	text-align: left;
	padding-left: 13px;
	font-weight: 500;
}

.comics-data-headline {
	line-height: 0;
	font-size: 1.1rem;
	font-weight: 500;
	color: #808080;
	margin-block-start: .5rem;
	margin-block-end: -10px;
}

#buy-element {
	justify-self: center; 
}

#buy {
	width: 11.3rem;
	height: 3.7rem;
	background-color: #19A538;
	border-radius: 10px;
	border: 0;
	font-size: 1.3rem;
	color: var(--white-color);
	font-weight: 500;
	cursor: pointer;
	margin-bottom: 10px;
}

#buy::before {
	content: url(../img/icon-buy.svg);
	position: relative;
	top: 3px;
	right: 12px;
}

#buy-links {
	display: none;
	margin-top: -10px;
	width: 11.3rem;
	height: auto;
	list-style: none;
	padding-inline-start: 0;
	font-size: 1rem;
	justify-self: center; 
	cursor: pointer;
	text-align: center;
	position: absolute;
	z-index: 99;
}

#buy-links::before {
	display: block;
	content: "";
	margin-top: -10px;
	background-color: #19A538; 
	width: 11.3rem;
	height: .6rem;
	position: relative;
}

.buy-link {
	height: 45px;
	line-height: 45px;
	background-color: #2AC34C;
	border-top: solid 1px var(--white-color);
}

.buy-link:hover {
	background-color: #19A538;
}

.buy-link a {
	color: var(--white-color);
}

.buy-link:last-of-type {
	border-radius: 0 0 10px 10px;
}

#related-comics-section {
	order: 5;
	gap: 20px;
	margin-top: 5rem;
	width: auto;
	display: none;
	grid-auto-flow: column;
	font-size: .9rem;
	font-weight: 700;
	color: #808080;
}

#related-comics-section::before {
	content: "Powiązane tytuły:";
	position: absolute;
	margin-top: -2rem;
	line-height: 0;
	font-size: 1.1rem;
	font-weight: 500;
	color: #808080;
}

.related-comics {
	width: 148px;
	height: 198px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	cursor: pointer;
}

.inside-thumbnails {
	height: 290px;
}

.current-page {
	color: var(--white-color) !important;
}

/* **************** SMALL DEVICES **************** */


@media (max-width: 55rem) { /* 880px */

	.navbar {
		grid-template-columns: auto auto;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar-links.active {
		position: absolute;
		top: 4rem;
		left: 0;
		display: grid;
		grid-auto-flow: row;
		row-gap: 1rem;
		padding-inline-start: 0;
		padding-block-end: 1rem;
		background-color: var(--main-color);
		z-index: 99;
		animation: ease-down-2 .15s ease-out;
	}

	@keyframes ease-down-2 {
		from {
			height: 0;
		}
		to {
			height: 14rem;
		}
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links a {
		border: 0;
	}

	#additions {
		position: absolute;
		top: 1.6rem;
		right: 2rem;
	}

	.toggle-button {
		position: absolute;
		top: 34.5px;
		right: calc(50% - 15px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 21px;
	}

	.toggle-button .bar {
		height: 3px;
		width: 100%;
		background-color: var(--bright-color);
		border-radius: 10px;
	}

	#description {
		padding-block-start: 1.25rem;
		padding-inline: 0.5rem;
	}
}

@media (max-width: 40rem) { /* 640px */

	#customize {
		margin-block-start: 1rem;
		grid-template-columns: auto;
		row-gap: 1rem;
	}

	#sort > :nth-child(odd),
	#filters > :nth-child(odd),
	#search-main-cover > :nth-child(odd) {
	text-align: left;
	}

	#sort-input,
	#filters-input,
	#search-main-cover-input {
		width: min(17.5rem, 24rem);
		height: 2rem;
	    font-size: .9rem;
		background-color: #D7D7D7;
		border: 0;
		border-radius: 5px;
		cursor: pointer;
	}
}

@media (max-width: 33.313rem) { /* 533px */

	header {
		height: 4.3rem;
	}

	#logo {
		width: 6.25rem;
		height: auto;
		margin-top: .3rem;
	}

	.toggle-button {
		top: 1.5rem;
	}

	#additions {
		top: 1rem;
	}

	.navbar-links.active {
		top: 3.3rem;
	}

	.cover {
		width: 290px;
		height: 390px;
	}

	#cover-big,
	#container-covers,
	.inside-thumbnails {
		width: 100%;
		height: auto;
	}

	#breadcrumbs {
		grid-template-columns: none;
		grid-template-rows: auto auto;
		justify-content: center;
		margin-top: .5rem;
		gap: .5rem;
	}

	#container-page {
		margin-top: 56px;
	}

	#related-comics-section {
		grid-auto-flow: row;
	}

	#related-comics-section::before {
		width: 10rem;
	}

	.sold::before,
	.last-items::before {
		top: 17.9rem;
	}
}