/* **************** custom properties **************** */

:root {
	--main-color: #202020;
	--black-color: #121212;
	--white-color: #FFFFFF;
	--bright-color-100: #f3f3f3;
	--bright-color: #E7E9EC;
	--gray-color: #9D9D9D;
	
	--ff-primary: 'Poppins', sans-serif;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fs-300: ;
	--fs-400: .9rem;
	--fs-500: 1rem;
	--fs-600: 1.1rem;
	--fs-700: 1.2rem;
	--fs-800: 1.3rem;
	--fs-900: 1.9rem;
	--fs-xl: 10rem;
}

/* **************** global styles **************** */

*, *::before, *::after {
	box-sizing: border-box;
	font-family: var(--ff-primary);
}

body {
	padding: 0;
	margin: 0;
	background-color: var(--bright-color);
}

a:link {
	color: var(--main-color);
	text-decoration: none;
}

a:visited {
	color: var(--main-color);
}

:focus {
	outline: 1px solid var(--gray-color);
}

/* **************** dark mode **************** */

body.dark-mode {
	background-color: var(--main-color);
	color: #d7d7d7;
}

body.dark-mode a {
	color: var(--gray-color);
}

body.dark-mode #container {
	background-color: var(--main-color);
}

body.dark-mode .cover {
	box-shadow: none;
	filter: brightness(.9);
/*	box-shadow: 4px 4px 8px rgb(62 177 183 / 40%); */
}

body.dark-mode #container-page {
	border: 17px solid #1b1b1b;
}

body.dark-mode .details,
body.dark-mode #breadcrumbs > * {
	background-color: #282828;
}

body.dark-mode #toggle-mode {
	content: url(../img/icon-sun.svg);
}

body.dark-mode #customize {
	color: #b7b7b7;
}

body.dark-mode #sort-input,
body.dark-mode #filters-input,
body.dark-mode #search-main-cover-input {
	background-color: #343434;
	color: #b7b7b7;
}




/* **************** for small devices **************** */
/*
@media (max-width: 560px) {
	#container {
		width: min(90%, 70.5rem);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 50px;
		margin: 15px auto 30px auto;
} 

	#customize {
		width: auto;
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
		justify-content: center;
}
 */
/* } **************** for tablets **************** 

@media (min-width: 560px) {

	.navbar {
		width: auto;
		height: 90px;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr 2fr 1fr 70px;
		align-content: center;
		background-color: var(--main-color);
		margin-right: auto;
		margin-left: auto;
	}


	#container {
		width: min(90%, 70.5rem);
		height: 400px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 36px;
		margin-top: 15px;
		margin-bottom: 30px;
		margin-right: auto;
		margin-left: auto;
		background-color: rgb(53, 96, 161);
	}

	.cover {
		width: 80vw;
		height: 100%;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);	
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
		filter: brightness(1);
		outline: 0;
	/*	transition-property: filter;
		transition-duration: 2s; */
/*	}
	
	.cover:hover {
		outline: 2px solid #DCDCDC;
	/*	filter: brightness(0.8); 
	}

}
*/

/* **************** NAVIGATION **************** */

header {
	width: 100%;
	height: 5.6rem;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
}

.navbar {
	width: min(1048px, 95%);
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 2fr 1fr 70px;
	align-content: center;
	margin-inline: auto;
}

.navbar > * {
	align-self: center;
}

/*.navbar::before {
	content: "";
	height: 90px;
	width: 100%;
	background-color: var(--main-color);
	left: 0;
	position: absolute;
	z-index: -1;
}*/

.navbar-links {
	display: flex;
 	justify-content: center;
	align-self: center;
}

.navbar-links li {
	list-style: none;
	display: block;
	line-height: 2.5em;
}

.navbar-links a {
	padding: 0 1.25rem;
	height: 40px;
	color: var(--gray-color);
	font-size: 1.2rem;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	align-items: center;
	align-content: center;
   	border-right: 1px solid #797979;
}

.navbar-links a:hover {
	color: var(--white-color);
}

.toggle-button {
	display: none;
}

/*
[aria-current="page"] {
	color: var(--white-color);
}*/

#facebook {
	place-self: center;
	margin-top: 4px;
}

#facebook a {
   	border-right: 0;
}

#search {
	align-self: center;
	justify-self: end;
	display: flex;
 	justify-content: center;
	align-self: center;
	cursor: pointer;
}

#search-input {
	margin-right: 10px;
	height: 30px;
	width: max(200px, 100%);
	justify-content: end;
	align-self: center;
	border: 0;
	visibility: hidden;
}

#search:hover #search-input {
	background-color: var(--bright-color);
	visibility: visible;
/*	animation: increase-input .2s ease-out backwards; */
}

@keyframes increase-input {
	from {
		width: 0;
		opacity: 0;
	}
	to {
		width: 200px;
		opacity: 100%;
	}
}

/*
#moon, #sun {
	align-self: center;
	justify-self: center;
	padding-left: 15px;
	border-left: 1px solid #797979;
	cursor: pointer;
}

#moon {
	display: inline;
}

#sun {
	display: none;
} */

#toggle-mode {
	content: url(../img/icon-moon.svg);
	justify-self: center;
	padding-left: 15px;
	border-left: 1px solid #797979;
	cursor: pointer;
}

#logo {
	width: 126px;
	height: 52px;
	margin-left: 15px;
}

.icon {
	width: 28px;
	height: 28px;
}

.icon:hover {
	filter: brightness(1.5);
}

.icon-moon,
.icon-sun {
	margin-top: 5px;
}


@media (max-width: 55rem) {

.navbar-links {
	display: none;
	width: 100%;
}

.navbar {
	flex-direction: column;
	align-items: flex-start;
	height: auto;
}

.navbar-links ul {
	margin-top: 4rem;
	width: 100%;
	flex-direction: column;
}

.navbar-links li {
	text-align: center;
}

.navbar-links a {
	padding: .5rem 1rem;
}

.navbar-links.active {
	display: flex;
}

.toggle-button {
	position: absolute;
	top: 34.5px;
	right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: var(--bright-color);
	border-radius: 10px;
}

#search,
#moon,
#sun {
	display: none;
}

}

/* ****** CUSTOMIZE PANEL ******* */

/*@media (min-width: 62.5rem) { */

#customize {
	width: min(64rem, 95%);
	margin-block-start: 1.3rem;
	margin-block-end: 1.5rem;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;
	align-content: center;
	margin-inline: auto;
}

#sort,
#filters,
#search-main-cover {
	display: grid;
	grid-template-columns: auto;
	column-gap: .7rem;
	line-height: 2.2rem;
}

/* text elements to the left of input or select */
#sort > :nth-child(odd),
#filters > :nth-child(odd),
#search-main-cover > :nth-child(odd) {
	text-align: center;
}

#sort-input,
#filters-input,
#search-main-cover-input {
	width: 11.5rem;
	height: 2rem;
    font-size: .9rem;
	background-color: #D7D7D7;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

#sort-input,
#filters-input {
	padding-left: 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image:
    	linear-gradient(45deg, transparent 50%, gray 50%),
    	linear-gradient(135deg, gray 50%, transparent 50%),
    	linear-gradient(to right, #ccc, #ccc);
  	background-position:
    	calc(100% - 20px) calc(1em + 2px),
    	calc(100% - 15px) calc(1em + 2px),
    	calc(100% - 2.5em) 0.35em;
  	background-size:
    	5px 5px,
    	5px 5px,
    	1px 1.5em;
  	background-repeat: no-repeat;
}

#sort-input:focus,
#filters-input:focus {

	background-image:
    	linear-gradient(45deg, gray 50%, transparent 50%),
    	linear-gradient(135deg, transparent 50%, gray 50%),
    	linear-gradient(to right, #ccc, #ccc);
  	background-position:
    	calc(100% - 15px) 1em,
    	calc(100% - 20px) 1em,
    	calc(100% - 2.5em) 0.35em;
}

/* **************** MAIN CONTAINER **************** */

#container {
	width: min(65.5rem, 95%);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.3rem, 1fr));
	grid-column-gap: 1.1rem;
	grid-row-gap: 3.1rem;
	justify-items: center;
	margin-inline: auto;
	background-color: var(--bright-color);
}




@media (min-width: 55rem) { /* 880 px */

#sort,
#filters,
#search-main-cover {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: .7rem;
	line-height: 2.2rem;
}

#sort > :nth-child(odd),
#filters > :nth-child(odd),
#search-main-cover > :nth-child(odd) {
	text-align: right;
}

#customize {
	margin-block-start: 2rem;
}














}

/* ********** SMALL ************** */

@media (max-width: 550px) { 

	#customize {
		margin-block-start: 1rem;
		grid-template-columns: auto;
		row-gap: 1rem;
	}

	#sort > :nth-child(odd),
	#filters > :nth-child(odd),
	#search-main-cover > :nth-child(odd) {
	text-align: left;
}
	
#sort-input,
#filters-input,
#search-main-cover-input {
	width: min(17.5rem, 24rem);
	height: 2rem;
    font-size: .9rem;
	background-color: #D7D7D7;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}



}
	
/*
#customize {
	width: min(64rem, 95%);
	margin-block-start: 1.3rem;
	margin-block-end: 1.5rem;
	display: grid;

	justify-content: space-around;
	align-content: center;
	margin-inline: auto;
} */





.cover {
	width: 237px;
	height: 318px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .4); 
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	filter: brightness(1);
	outline: 0;
}

.cover:hover {
	outline: 2px solid #DCDCDC;
}

.title-under-cover {
	width: 100%;
	display: block;
	left: auto;
	right: auto;
	position: absolute;
	bottom: 0;
	margin: auto;
	margin-bottom: -34px;
	text-align: center;
	font-weight: 500;
}

.new::after,
.sold::after,
.last-items::after {
	font-size: 1.3rem;
	font-weight: 600;
	color: var(	--bright-color);
	display: block;
	position: relative;
	left: -.6rem;
	border-radius: 0 10px 10px 0;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);	
}

.new::after {
	content: "NOWOŚĆ";
	width: 8.2rem;
	top: 0;
	background-color: #2D7A85;
	padding: 10px 15px 7px 15px;	
}

.sold::after {
	content: "WYPRZEDANE";
	width: 11rem;
	top: 65%;
	background-color: #303030;
	padding: 10px 15px 10px 15px;	
}

.last-items::after { 
	content: "OSTATNIE SZTUKI";
	width: 13rem;
	top: 65%;
	background-color: #9b3838;
	padding: 10px 15px 10px 15px;
}

.new::before {
	content: "";
	top: 2.05rem;
	left: -2.5rem;
	padding: 10px 15px;
	position: relative;
  	border-top: 10px solid transparent;
    border-right: 10px solid #235a62; 
}

.sold::before,
.last-items::before {
	content: "";
	top: 15rem;
	left: -2.5rem;
	padding: 10px 15px;
	position: relative;
  	border-top: 10px solid transparent;
    border-right: 10px solid #235a62; 
}

.sold::before {
	border-right-color: #1b1b1b;
}

.last-items::before {
	border-right-color: #7e2828;
}



footer {
	width: auto;
	height: 50px;
	margin-top: 60px;
	text-align: center;
	line-height: 50px;
	color: var(--white-color);
	background-color: var(--main-color);
	align-self: end;
}

/* **************** COMICS PAGE **************** */ 

#breadcrumbs {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 1.3rem;
	max-width: 62rem;
	height: 3rem;
	line-height: 3rem;
	margin: 2rem auto 0 auto;
	position: relative;
}

#breadcrumbs > * {
	background-color: var(--bright-color-100);
	border-radius: .7rem .7rem 0 0;
	padding: 0 1.6rem;
	text-align: center;
}

#breadcrumbs .title {
	font-weight: 500;
}

#container-page {
	max-width: 65.5rem;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto 30px auto;
	padding: 28px;
	background-color: var(--bright-color-100);
	border: 17px solid var(--main-color);
	border-radius: 10px;
}

#container-covers {
	order: 1;
	height: 800px;
}

#container-info {
	order: 2;
	width: auto;
	max-width: 475px;
	display: grid;
	align-content: flex-start;
	justify-items: center;
	gap: 15px;
}

#description {
	order: 3;
	margin-bottom: 15px;
	line-height: 1.6rem;
	padding-inline: 60px;
}

/* SECTION PANELS */
#inside-panels {
	order: 4;
	display: grid;
	justify-items: center;
	place-self: center;
}

#inside-samples {
	font-size: 1.3rem;
	font-weight: 700;
	margin: 15px auto 10px auto;
}

#inside-samples::before {
	content: url(../img/icon-zoom-in.svg);
	margin-right: 6px;
}

#img-inside {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	cursor: pointer;
}

#fullpage-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: auto auto;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-color: var(--main-color);
	cursor: pointer;
  }

#close-gallery-area {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
  }

 .arrows {
	display: flex;
	align-items: center;
	height: 230px;
	width: 60px;
	position: absolute;
	background-color: #303030;
	cursor: pointer;
	font-size: 10rem;
  }

 .arrows:hover {
	background-color: #181818;
}

 #left-arrow {
	left: 0;
  }

 #right-arrow {
	right: 0;
}

h1.title {
	text-align: center;
	font-size: 1.9rem;
	line-height: .6rem;
	margin-block-start: .8rem;
	margin-block-end: .4rem;
}

#cover-big {
	width: 433px;
	height: 578px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

#cover-regular-thumbnail,
#cover-alternative1-thumbnail,
#cover-alternative2-thumbnail {
	width: 102px;
	height: 137px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
	margin-right: 19px;
	cursor: pointer;
	display: none;
}

#choose-cover {
	margin-top: 5px;
	font-size: .9rem;
	font-weight: 700;
	color: #808080;
}

.comics-data {
	display: grid;
	grid-template-columns: auto auto;
	list-style: none;
	padding-inline-start: 0;
	line-height: 1.6rem;
}

.comics-data > :nth-child(odd) {
	text-align: right;
	padding-right: 10px;
	border-right: 2px solid #797979;
}

.comics-data > :nth-child(even) {
	text-align: left;
	padding-left: 10px;
	font-weight: 600;
}

.main-info {
	row-gap: 8px;
}

.main-info > :nth-child(even) {
	font-weight: 600;
}

.details {
	background-color: var(--bright-color);
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	margin-block-end: 0;
}

.details > :nth-child(even) {
	font-weight: 500;
}

.details-original-edition {
	row-gap: 4px;
}

.details-original-edition > :nth-child(even) {
	font-weight: 500;
}

/*
.authors {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(2, 60px);
	justify-content: center;
	row-gap: 10px;
	line-height: 11px;
	vertical-align: middle;
	margin-bottom: 20px;
} */

.role {
	text-align: right;
	padding-right: 13px;
	position: relative;
}

.role::before {
	content: "";
	height: 90%;
	position: absolute;
	top: 12px;
	bottom: 12px;
	right: 0;
	border-right: 2px solid #797979;
}

.name {
	text-align: left;
	padding-left: 13px;
	font-weight: 500;
}

.comics-data-headline {
	line-height: 0;
	font-size: 1.1rem;
	font-weight: 500;
	color: #808080;
	margin-block-end: -10px;
}

#buy-element {
	justify-self: center; 
}

#buy {
	width: 163px;
	height: 48px;
	background-color: #19A538;
	border-radius: 10px;
	border: 0;
	font-size: 1.3rem;
	color: var(--white-color);
	font-weight: 500;
	cursor: pointer;
	margin-bottom: 10px;
}

#buy::before {
	content: url(../img/icon-buy.svg);
	position: relative;
	top: 3px;
	right: 12px;
}

#buy-links {
	display: none;
	margin-top: -10px;
	width: 163px;
	height: auto;
	list-style: none;
	padding-inline-start: 0;
	font-size: 1rem;
	justify-self: center; 
	cursor: pointer;
	text-align: center;
	position: absolute;
	z-index: 99;
}

#buy-links::before {
	display: block;
	content: "";
	margin-top: -10px;
	background-color: #19A538; 
	width: 163px;
	height: 10px;
	position: relative;
}

.buy-link {
	height: 45px;
	line-height: 45px;
	background-color: #2AC34C;
	border-top: solid 1px var(--white-color);
}

.buy-link:hover {
	background-color: #19A538;
}

.buy-link a {
	color: var(--white-color);
}

.buy-link:last-of-type {
	border-radius: 0 0 10px 10px;
}

#related-comics-section {
	order: 5;
	gap: 20px;
	margin-top: 30px;
	width: auto;
	display: none;
	font-size: .9rem;
	font-weight: 700;
	color: #808080;
}

#related-comics-section > img {
	cursor: pointer;
}

#related-comics {
	width: 148px;
	height: 198px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}


.inside-thumbnails {
	height: 290px;
}


.current-page {
	color: var(--white-color) !important;
}